ACR_LOGIN_SERVER=esmospm3acr.azurecr.io
STAGING_IP=your_staging_vm_ip_here
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=your_password_here
ODOO_MASTER_PASSWORD=your_password_here
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=your_password_here
MOODLE_DB_ROOT_PASSWORD=your_password_here
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=your_password_here
